<h2 class="title">Login</h2>
  {{!-- {{locals.flash.error}} --}}

<form class="form" method="POST" action="/auth/login">
  <div class="form-item">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required="true" autofocus="true">
  </div>

  <div class="form-item">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="password-field" minlength="6" required="true">
  </div>

  <div class="form-item">
  <button type="submit">Login</button>
  </div>
</form>