<h1>Logout</h1>

<form method="POST" action="/auth/logout">
  <div class="form-item">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required="true" autofocus="true">
  </div>

  <div class="form-item">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="password-field" minlength="6" required="true">
  </div>

  <div class="form-item">
  <button type="submit">Login</button>
  </div>
</form>