<h2 class="title">Sign up</h2>
<form class="form" method="POST" action="/auth/signup">
  <div class="form-item">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required="true" autofocus="true">
  </div>

  <div class="form-item">
    <label for="password">Password</label>
    <input type="password" name="password" id="newPassword" class="password-field" minlength="6" required="true">
  </div>
  
  <div class="form-item">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirm-password" class="password-field" minlength="6" required="true">
  </div>

  <div class="form-item">
    <button type="submit">Sign up</button>
  </div>
</form>