body, main, header, footer, nav, div, p, a, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black
}

body {
  background-color: rgba(120, 150, 150, 0.5);
  width: 800px;
  margin: auto;
}

header {
  /* background-image: url('/images/DDNSHUB1.png');
  background-size: 500px 220px;
  background-repeat: no-repeat;
  background-position: center; */
  height: 100px;
  /* margin: auto; */
  
}

header h1 {
  margin: auto;
  padding-top: 30px;
  width: max-content;
  font-size: 40px;
}

main {
  /* Sticky footer. The height of the window minus the height of everything above "main". Pretty much */
  min-height: calc(100vh - 280px);
}

nav {
  
  /* background-color: #d5ff06; */
  margin-bottom: 10px;
  padding: 20px;
  /* border: 3px solid black; */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

nav a {
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 10px;

}

nav a:hover {
  /* color: rgb(12, 146, 41); */
  background-color: rgb(120, 120, 140, 0.2);
}

nav a:visited {
  color: black;
}

.title {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: max-content;
}

.form {
  margin: auto;
  width: max-content;
}

.form-item {
  display: block;
  /* width: 320px; */
  margin: 10px;
}

label {
  margin: 5px;
  /* width: 140px; */
  display: block;
}
input {
  margin: 5px;
  height: 20px;
  width: 150px;
  display: block;
}

.code {
  background-color: rgba(236, 232, 179, 0.5);
  margin: 10px;
  padding: 10px;
  width: max-content;
  border-radius: 5px;
}

.domainContainer, .content {
  background-color: rgb(120, 120, 140, 0.2);
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 80%;
}

.content a {
  color: blue;
  text-decoration-line: underline;
}

.content li {
  margin: 10px;
}

.domainContainer h3, .domainContainer p {
  margin: auto;
  width: max-content;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.domainContainer p {
  /* background-color: rgb(189, 189, 189); */
  /* display: block;
  min-width: 20px; */
  /* width: max-content; */
}

.copyContainer {
  width: min-content;
  margin: auto;
}

.copy:hover {
  cursor: pointer;
}

/* Tooltip text - Taken from "https://www.w3schools.com/css/css_tooltip.asp" */
.tooltiptext {
  margin: auto;
  visibility: hidden;
  font-size: 12px;
  width: 80px;
  background-color: rgb(158, 129, 129);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.information {
  margin: 5px;
  /* padding: 10px; */
}

.deleteButton {
  margin: 5px;
  padding: 5px;
  background-color: whitesmoke;

}

.deleteButton:hover {

  background-color: rgb(191, 200, 111);
  cursor: pointer;
}

.alert {
  margin: auto;
  padding: 5px;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.alert-failure {
  background-color: rgba(216, 0, 0, 0.356);
}

.alert-success {
  background-color: rgba(101, 255, 87, 0.589);
}

.invisible {
  visibility: hidden;
}

footer {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  align-content: center;
  /* background-color: rgb(202, 166, 202); */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

footer a {
  width: min-content;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
  display: block;
}

footer a:visited {
  color: black;
}