<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DDNS Hub</title>
  <link rel="icon" href="/favicon1.png" type="image/png">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/client.js" type="module"></script>
</head>
<body>
  {{>header}}
  {{>nav}}
  {{>flash}}
  
  <main>
  {{{body}}}
  </main>

  {{>footer}}
</body>
</html>