<main>
  <div class="content">
    <p>If you have questions about this site or suggestions for improvements, please contact us at <a href="mailto:ef222ut@student.lnu.se">ef222ut@student.lnu.se</a></p> 
  </div>

</main>