<main>
  <div class="content">
    <h2>How to get dynamic DNS updates with this application</h2>
<ol>
  <li>You need a registered domain name. If you do not have one, register a domain name at a domain name registrar. (For testing purposes, this is not required.)</li>
  <li>Create an account and login.</li>
  <li>Add domain name under "New Domain"</li>
  <li>Add the listed name servers to custom name servers at you registrars site.</li>
  <li>Either include the ddnshub-cronjob package from npm or set up a cronjob on your server/network.</li>
</ol>

<h2>Include npm package in node</h2>
<p><a href="https://www.npmjs.com/package/ddnshub-cronjob">See ddnshub-cronjob on npm</a></p>
<br>
<h2>Use cronjob on server</h2>
<p>Set up a cronjob with the desired update interval on the server/network you want dynamic DNS updates for. The cronjob should execute the following command:</p>
<p class="code">curl -d "secret=your-secret" -X POST https://ddnshub.net/ip</p>

<p>Replace "your-secret" with the secret for your domain name provided by ddnshub.net.</p>
<br>
<p><b>Example</b></p>
<p class="code">curl -d "secret=268c7418c935f435ee41047a9" -X POST https://ddnshub.net/ip</p>


  </div>
</main>