<div>
  <h2 class="title">My Domains</h2>
  {{#if viewData.zones}}
  <div class="domainsContainer">
    {{#each viewData.zones}}
    <article class="domainContainer">
      <div class="domainNameContainer information">
        <h3>Domain</h3>
        <p class="domainName">{{this.domain}}</p>
      </div>

      <div class="currentIPContainer information">
        <h3>Current IP</h3>
        {{#if this.currentIP}}
        <p class="currentIP">{{this.currentIP}}</p>
        {{else}}
        <p class="currentIP">No ip set</p>
        {{/if}}
      </div>
    
      <div class="tokenContainer information">
        <h3>Secret token</h3>
        <div class="tooltip copyContainer">
          <p class="token copy">{{this.secret}}</p>
          <span class="tooltiptext">Click to copy</span>
        </div>
      </div>
      
      <div class="nameServersContainer information">
        <h3>Name servers</h3>
        {{#each this.nameServers}}
        <div class="tooltip copyContainer">
          <p class="nameServer copy">{{this}}</p>
          <span class="tooltiptext">Click to copy</span>
        </div>
        {{/each}}
      </div>
      
      <form action="/domains/{{this.id}}/delete-domain" method="post">
        <button type="submit" class="deleteButton">Delete</button>
      </form>
      {{!-- {{this.aRecords.at}}
      {{this.aRecords.www}}
      {{this.aRecords.ns1}}
      {{this.aRecords.ns2}} --}}
    </article>
    {{/each}}

  </div>
  {{else}}
  <h3>You have not added any domains yet</h3>
  {{/if}}
</div>