<h2 class="title">New Domain</h2>
<form class="form" method="POST" action="/domains/add-domain">
  <div class="form-item">
    <label for="domain">Domain name</label>
    <input type="domain" id="domain" name="domain" required="true" autofocus="true">
  </div>
  {{!-- <div class="form-item">
    <input type="hidden" id="type" name="type" required="true" autofocus="true" placeholder="zone">
  </div> --}}

  <div class="form-item">
    <button type="submit">Add Domain</button>
  </div>
</form>