<nav>
  <a href="/">Home</a>
  <a href="/domains/my-domains">My Domains</a>
  <a href="/domains/new-domain">New Domain</a>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Sign Up</a>
  <a href="/auth/logout">Logout</a>
</nav>